@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Theme */
  --color-primary: #f9f506;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;
  --color-brand-green-start: #22C55E;
  --color-brand-green-end: #16A34A;
  --color-brand-mint: #86EFAC;
  --color-brand-slate: #0F172A;

  --font-display: var(--font-spline-sans), sans-serif;

  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

/* Dark mode override */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}